{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h3>Frequently Asked Questions</h3>
        <p>
            <h5>Warming up</h5>
            Ensure you are warming up correctly by starting with the bar and taking appropriate jumps, ering on the side of caution,
            this usually means 10kg jumps or 5kg when approaching your working weight. The reps should start off higher and reduce in volume when approaching your work sets
            <br><br>
            <h5>Rest periods</h5>
            Resting for strength development means that you should be fully recovered between sets, I recommend at least 3 mins between main lifts,
            you can take up to 10 mins to ensure you are ready to go, anything more than this could result in your body getting cold.
            <br><br>
            <h5>Failing on the program</h5>
            When you cannot complete a set, continue with the program, but do not add weight on the following week, however, should this happen twice in a row, its time to reset.
            Go to the Calibrate page, and enter your maxes again, however take 10% off on the specific exercise where failure occured, and only this exercise,
            we don't need to reset on all exercises, just the one that is giving us difficutly.
            <br><br>
            <h5>About the site and author</h5>
            This website was made by Keagan for CS50s final project, all images are open source and free to use. I hope you found it useful!
        </p>

    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img src="../static/images/FAQ.png" class="img-fluid" alt="Responsive image">
    </div>
</div>
{% endblock %}
