{% extends "layout.html" %}

{% block title %}
How to lift!
{% endblock %}

{% block main %}
<div class="text-center bg-primary text-info">
    <h1>How to lift! Exercise instructional videos</h1>
</div> 
<div class="container h-100 d-flex flex-column">
    <div class="row flex-grow-1 bg-danger">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
         </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4> Squat</h4>
            Known as the king of lower body exercises, it increases total lower body strength and flexibility, a must have for a truly strong individual.
        </div>
    </div>
    <div class="row flex-grow-1 bg-primary">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4>Deadlift</h4>
            Known as the King of exercises, great for a strong posterior chain and grip, nothing says strong like simply picking up a heavy object.
        </div>
    </div>
    <div class="row flex-grow-1 bg-danger">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4>Bench</h4>
            The most popular exercise with good reason, nothing challenges the upper body pressing musculature in such a stable position
        </div>
    </div>
    <div class="row flex-grow-1 bg-primary">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4>Overhead Press</h4>
            A classic strongman exercise, nothing shows real world strength better than extending a weight fully overhead, creates a strong core, wrists and traps.
        </div>
    </div>
    <div class="row flex-grow-1 bg-danger">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4>Barbell Row</h4>
            A classic back builder that allows you to move heavy weights while sparing your lower back, ensure you are controlling the weight through the range of motion and not heaving.
        </div>
    </div>
    <div class="row flex-grow-1 bg-primary">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4>Pull-up</h4>
            The Pull-up is great for overall upper body musculature and helps even out development so we do not become tight due to all the pressing in our program.
        </div>
    </div>
    <div class="row flex-grow-1 bg-danger">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4>Assisted Pull-up</h4>
            Assisted Pull-ups are a great stepping stone to a ful fledged pull-up, patience and control are key to growing the strength and co-ordination to excute the movement un-assisted.
        </div>
    </div>
    <div class="row flex-grow-1 bg-primary">
        <div class="embed-responsive embed-responsive-16by9 col-sm-4 col-md-4 col-lg-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4 col-md-4 col-lg-4">
            <h4>Barbell Curl</h4>
            A classic to build some big biceps and help balance out the forces on the shoulder and elbow, no point being strong if you still have small arms.
        </div>
    </div>


</div>

{% endblock %}