{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages() %}  
{% if messages %}  
      {% for message in messages %}  
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}  
{% endif %}  
{% endwith %} 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/images/WeightPlatesMedium.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Welcome to Simple Strength! Ready to get strong!?</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../static/images/StepbyStep.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Using your inital lifts, we can plan out a program to lead you to growth, step by step.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../static/images/motivation.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Barbell Training is for everyone! Your starting strength doesn't matter, just the growth and fun of the journey.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../static/images/pickles.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Go to Calibrate to set up your first month of training! It can also be used to reset your training</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="../static/images/howto.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Check out "How to Lift" for technique videos for all lifts used in this program!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

