{% extends "layout.html" %}

{% block title %}
    Week 1  
{% endblock %}

{% block main %}
<div class="row row-cols-2 row-cols-md-3">
        <div class="card text-white bg-danger mx-auto" style="width: 18rem;" id="weekCard" >
            <img class="card-img-top" src="../static/images/smolSquat1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Monday</h5>
                <h6 class="card-subtitle mb-2">Heavy Lower Day</h6>
                <p class="card-text">
                    {{ (Info[0]["Squat"]*0.7)|round|int }}KG Squat 3 sets 6 Reps<br>
                    {{ (Info[0]["Deadlift"]*0.7)|round|int }}KG Deadlift 2 sets 6 Reps<br>
                    {{ (Info[0]["Deadlift"]*0.5)|round|int }}KG Stiff Leg Deadlift 3 sets 8 Reps
                </p>
            </div>
        </div>

        <div class="card text-white bg-primary mx-auto" style="width: 18rem;" id="weekCard" >
            <img class="card-img-top" src="../static/images/smolBench2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Tuesday</h5>
                <h6 class="card-subtitle mb-2">Heavy Upper Day</h6>
                <p class="card-text">
                    {{ (Info[0]["Bench"]*0.75)|round|int }}KG Bench Press 3 sets 6 Reps<br>
                    {{ (Info[0]["BBRow"]*0.85)|round|int }}KG Barbell Row 3 sets 6 Reps<br>
                    {{ (Info[0]["OverheadPress"]*0.85)|round|int }}KG Overhead Press Row 1 set 6 Reps<br>
                    {% if (Info[0]["Pullups"]|int) >= 3 -%}
                    Pullups 5 sets {{(Info[0]["Pullups"]*0.5)|round|int }} reps<br> 
                    {% else -%}
                    Assisted Pullups 2 reps 5 sets<br>
                    {% endif %}
                    {{ (Info[0]["BBCurl"]*0.85)|round|int }}KG Barbell Curl 3 sets 8 Reps<br>
                </p>
            </div>
        </div>

        <div class="card text-white bg-dark mx-auto" style="width: 18rem;" id="weekCard" >
            <img class="card-img-top" src="../static/images/SleepingCat.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wednesday</h5>
                <h6 class="card-subtitle mb-2">Rest Day</h6>
                <p class="card-text">Take it easy, light walking and stretching is good for recovery but nothing taxing.</p>
            </div>
        </div>

        <div class="card text-white bg-danger mx-auto" style="width: 18rem;" id="weekCard" >
            <img class="card-img-top" src="../static/images/smolDeadlift.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Thursday</h5>
                <h6 class="card-subtitle mb-2">Control Lower Day</h6>
                <p class="card-text">
                    {{ (Info[0]["Squat"]*0.6)|round|int }}KG Pause Squat 6 sets x 4 reps<br>
                    {{ (Info[0]["Deadlift"]*0.6)|round|int }}KG Pause Deadlifts 3 sets x 4 reps<br>
                    {{ (Info[0]["Deadlift"]*0.5)|round|int }}KG Stiff Leg Deadlift 3 sets 8 Reps
                </p>
            </div>
        </div>

        <div class="card text-white bg-primary mx-auto" style="width: 18rem;" id="weekCard" >
            <img class="card-img-top" src="../static/images/smolBench1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Friday</h5>
                <h6 class="card-subtitle mb-2">Control Upper Day</h6>
                <p class="card-text">
                    {{ (Info[0]["Bench"]*0.60)|round|int }}KG Spoto Press 6 sets 4 Reps<br>
                    {{ (Info[0]["BBRow"]*0.75)|round|int }}KG Barbell Row (Pause at full contraction) 3 sets 6 Reps<br>
                    {{ (Info[0]["OverheadPress"]*0.65)|round|int }}KG Overhead Press Row 1 set 10 Reps<br>
                    {% if (Info[0]["Pullups"]|int) >= 3 -%}
                    Pullups 5 sets {{(Info[0]["Pullups"]*0.5)|round|int }} reps<br> 
                    {% else -%}
                    Assisted Pullups 3 reps 5 sets<br>
                    {% endif %}
                    {{ (Info[0]["BBCurl"]*0.85)|round|int }}KG Barbell Curl 3 sets 8 Reps<br>
                </p>
                <p class="card-text">
                    

                </p>
            </div>
        </div>

        <div class="card text-white bg-dark" style="width: 18rem;" id="weekCard" >
            <img class="card-img-top" src="../static/images/sleepingDoggo1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Saterday</h5>
                <h6 class="card-subtitle mb-2">Rest Day</h6>
                <p class="card-text">A well deserved break after a weeks training, be sure to eat and sleep enough to keep the progress coming!</p>
            </div>
        </div>

        <div class="card text-white bg-dark mx-auto" style="width: 18rem;" id="weekCard" >
            <img class="card-img-top" src="../static/images/SleepingMonkey1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sunday</h5>
                <h6 class="card-subtitle mb-2">Rest Day</h6>
                <p class="card-text">The final day of rest and recovery, remember you get stronger while resting not while working out.</p>
            </div>
        </div>
</div>

{% endblock %}